In [11]:
#dependencies; Complete your initial scraping using Jupyter Notebook, 
#BeautifulSoup, Pandas, and Requests/Splinter.
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import re
import time

In [12]:
!which chromedriver

/usr/local/bin/chromedriver

In [13]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [14]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)
#have to add a delay because it was scraping too fast and I was getting errors on the app
time.sleep(5)

html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
news_soup = BeautifulSoup(html, 'html.parser')

In [15]:
#Latest article title using inspect element 
news_title = news_soup.find('div', class_='content_title').text
print(news_title)

A Year of Surprising Science From NASA's InSight Mars Mission

In [16]:
#article paragraph
news_paragraph = news_soup.find('div', class_='article_teaser_body').text
print(news_paragraph)

A batch of new papers summarizes the lander's findings above and below the surface of the Red Planet.

In [17]:
#scraping images
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)
time.sleep(5)

html = browser.html

images_soup = BeautifulSoup(html, 'html.parser')

In [18]:
#Use splinter to navigate the site and find the image url 
#for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
image_url  = images_soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

# Website Url 
main_url = "https://www.jpl.nasa.gov"

# Concatenate website url with scrapped route
image_url = main_url + image_url

# Display full link to featured image
featured_image_url = image_url
featured_image_url
# IGNORE - this is for my own reference! 
    #sloth img example
    #relative_image_path = soup.find_all('img')[2]["src"]
    #sloth_img = url + relative_image_path

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19382-1920x1200.jpg'

In [46]:
#Mars Weather
#______________
twitter_url = 'https://twitter.com/marswxreport?lang=en'

browser.visit(twitter_url)

weather_html = browser.html

In [47]:
twitter_response = requests.get("https://twitter.com/marswxreport?lang=en")
twitter_soup = BeautifulSoup(twitter_response.text, 'html.parser')

In [48]:
tweet_containers = twitter_soup.find_all('div', class_="js-tweet-text-container")

In [49]:
print(tweet_containers[0].text)
mars_weather = tweet_containers[0].text

InSight sol 443 (2020-02-24) low -94.8ºC (-138.6ºF) high -12.3ºC (9.8ºF)
winds from the SSE at 7.0 m/s (15.6 mph) gusting to 22.2 m/s (49.6 mph)
pressure at 6.30 hPapic.twitter.com/aaRx6POMFO

In [26]:
#Mars Facts
#_______________
#Visit the Mars Facts webpage here and use Pandas to scrape the table
#containing facts about the planet including Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string.

request_mars_space_facts = requests.get("https://space-facts.com/mars/")
mars_space_table_read = pd.read_html(request_mars_space_facts.text)

In [27]:
mars_space_table_read

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [65]:
df = mars_space_table_read[2]
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [61]:
df.columns = ["Description", "Value"]
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [67]:
mars_data_html = df.to_html(index=False)
mars_data_html
mars_data_df.to_html('mars_table.html')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
#Mars Hemispheres
#____________________________
#Visit the USGS Astrogeology site here to obtain high resolution images for each of Mars hemispheres.
#Save both the image url string for the full resolution hemisphere image, 
#and the Hemisphere title containing the hemisphere name. 
#Use a Python dictionary to store the data using the keys img_url and title.
#Append the dictionary with the image url string and the hemisphere title to a list. 
#This list will contain one dictionary for each hemisphere.

usgs_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
usgs_req = requests.get(usgs_url)

In [35]:
usgs_soup = BeautifulSoup(usgs_req.text, "html.parser")
browser.visit(usgs_url)
hemi_attributes_list = usgs_soup.find_all('a', class_="item product-item")

In [36]:
hemisphere_image_urls = []

hemis_titles = usgs_soup.find_all('h3')

for i in range(len(hemis_titles)):
    hemis_title = hemis_titles[i].text
    print(hemis_title)
    
    hemis_images = browser.find_by_tag('h3')
    hemis_images[i].click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    img_url = soup.find('img', class_='wide-image')['src']
    img_url = "https://astrogeology.usgs.gov" + img_url
    print(img_url)
    
    hemis_dict = {"title": hemis_title, "img_url":img_url}
    hemisphere_image_urls.append(hemis_dict)
    
    browser.back()

Cerberus Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg

In [37]:
#formatted the way it's wanted in hw
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]